extends layout
block content
	if enquete_list.length!=0
		table
			th= '投票受付中のアンケート'
			for item, index in enquete_list
				tr
					td 
						a(href="/enquete"+item._id) #{item.title}
	else
		現在投票受付中のアンケートはありません。

	br

	if end_enquete_list.length!=0
		table
			th= '投票受付を終了したアンケート'
			for item, index in end_enquete_list
				tr
					td 
						a(href="/enquete"+item._id) #{item.title}

	br

	新しくアンケートを作成しませんか？
	div.create_enquete
		form(name="create_enquete", action="/create_enquete", method="post")
			input(type="text", name="title" value="タイトル")
			input(type="submit" value="作成")

